{% from "button.html" import button %}

<div class="flex w-full h-full p-2 gap-x-4">

    <!-- Sidebar -->
    <div class="w-1/4 border-[var(--border)]">
        {% include "components/sidebar.html" %}
    </div>

    <div class="w-3/4 flex flex-col items-center">

        <div class="min-h-full px-3 flex flex-col items-center justify-between">
            <div class="flex flex-col items-center">
                <img src="../../../../static/images/logo.svg" alt="Logo" class="h-[140px] w-[380px]">
                <p class="font-sans font-semibold">Your Business Companion</p>
            </div>

            <p class="text-balance p-10 font-sans max-w-3xl text-center mx-auto leading-relaxed break-words">
                {{ _("onboarding_welcome_msg") }}
            </p>

            {{ button(
            label="onboarding_next_btn",
            variant="primary",
            size="xlg",
            attrs={
            "hx-get": "/onboarding/licence",
            "hx-target": "#onboarding-shell",
            "hx-swap": "innerHTML",
            "hx-push-url": "true"
            }
            ) }}

        </div>
    </div>

</div>